html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-family: 'Roboto', sans-serif;
}
/* borrowed code from https://www.sitepoint.com/building-an-interactive-navigation-bar/ for the navigation bar*/
/* Make the nav take up the whole body width, and give it some top and bottom margin space */
nav {

  width: 100%;

  margin: 20px 0; }

/* Make the list of links take up the whole width of the nav */
nav ul {

  width: 100%; }

nav ul li {

  width: 16.6%; }

nav ul li a {

  display: block;

  width: 100%; }

nav ul {
    width: 100%; /* from above */
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
      width: 16.6%; /* from above */
      float: left;
}

nav ul li a {
  text-align: center;
  padding: 8px 0;
  display: block;
  width: 100%;
  background: #cdeb8e; /* Old browsers */
}

nav ul li:first-child a {

  border-top-left-radius: 8px;

  border-bottom-left-radius: 8px;

}
nav ul li:first-child a {

  border-top-left-radius: 10px;

  border-bottom-left-radius: 10px;

}

nav ul li:last-child a {

  border-top-right-radius: 10px;

  border-bottom-right-radius: 10px;

}

code{
  color: #000;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 1px 4px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0, 0, 10px;
  font-size: 13px;
  font-family:
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.show {display:block;}
/* standard way to present links*/
a:link { color: #0000EE; }
a:visited { color: #551A8B; }
/*new windows for links*/
